<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"   "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/ucsysis
		</property>

		<property name="connection.pool_size">10</property>

		<!-- SQL dialect -->
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">
			org.hibernate.cache.NoCacheProvider
		</property>

		<!-- Display all generated SQL to stdout -->
		<property name="show_sql">true</property>
		
		<mapping class="model.CoreCategory"/>
		<mapping class="model.CoreSubject"/>
		<mapping class="model.CurrentYear"/>
		<mapping class="model.Department" />
		<mapping class="model.EType"/>
		<mapping class="model.Hostel"/>
		<mapping class="model.HostelList"/>
		<mapping class="model.KeyList"/>
		<mapping class="model.LoginList"/>
		<mapping class="model.MajorSubject"/>
		<mapping class="model.Ranks" />
		<mapping class="model.RegDate"/>
		<mapping class="model.Scholar"/>
		<mapping class="model.SiteStatus"/>
		<mapping class="model.SpecializedMajor"/>
		<mapping class="model.StateRegion"/>
		<mapping class="model.StudentBio"/>
		<mapping class="model.StuSubjectCore"/>
		<mapping class="model.StuSubjectMajor"/>
		<mapping class="model.SubjectClassroomTeacher"/>
		<mapping class="model.TimeTable"/>
		<mapping class="model.TimeTableExam"/>
		<mapping class="model.TimeTableList"/>
		<mapping class="model.Township"/>
		<mapping class="model.UserMessage"/>
		<mapping class="model.Users" />
		
	</session-factory>

</hibernate-configuration>